#Page {
    display: block;
    margin: 0px;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    float: left;
    right:50%;
    border: 1px solid white;
    border-radius: 3px;
    background-color: #888;
}

